<div class="row-fluid profile">
  <%= form_for @student, :html => { :multipart => true } do |f| %>
  <div class="span2">
    <%= image_tag @student.avatar.url(:thumb), :class => 'img-circle' %>
    <%= f.file_field :avatar,  :class => 'btn-file-upload'%>

<div class="fileupload fileupload-new" data-provides="fileupload">
  <div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
  <div>
    <span class="btn btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>
</div>




  </div>
  <div class="span6">
  	<div class="row">
	  	<ul>
	      <li><%= f.label :name %><%= f.text_field :name %></li>
		  <li><%= f.label :school %><%= f.text_field :school %></li>
		  <li><%= f.label :email %><%= f.text_field :email %></li>
		  <li><%= f.label :telephone %><%= f.text_field :telephone %></li>
		  <li><%= f.label :subject %>
			  <ul>
			  <% @subjects.each do |subject| %>
			    <li><%= check_box_tag :subject_ids, subject.id, @student.subjects.include?(subject), :name => 'student[subject_ids][]'%> 
			    	<%= subject.name %>
			    </li>
			  <% end %>
			  </ul>
	      </li>
	    </ul>
    </div>
    <div class="row action-button">
      <%= f.submit "Update", :class=> 'btn' %>
      <%= link_to 'Cancel', students_path, :class => 'btn' %>
    </div>
    <% end %>
  </div>
</div>