<%= form_for(@student) do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :school %>
	<%= f.text_field :school %>
	<%= f.label :total_fee %>
	<%= f.text_field :total_fee %>
	<%= f.label :subject %>
	
	<% @subjects.each do |subject| %>
	  <label class="li"><%= check_box_tag :subject_ids, subject.id, @student.subjects.include?(subject), :name => 'student[subject_ids][]' %> <u><%= subject.name %></u></label><br />
	<% end %>

	<%= f.submit %>
<% end %>