
<div class="row-fluid">

<table class="table table-hover">
<tr>
	<th>Name</th>
	<th>School</th>
	<th>Total Fee</th>
	<th>Subjects</th>
	<th></th>
</tr>
<tr>
	<% @students.each do |student| %>
	<td><%= link_to "#{student.name}", edit_student_path(student) %></td>
	<td><%= student.school %></td>
	<td><%= student.total_fee %></td>
	<td><% student.subjects.each do |subject| %>
		<li><%= subject.name %></li>
	<% end %></td>
	<td><%= link_to "Delete",
				student,
				:method => :delete %></td>
</tr>
<% end %>
</table>





</div>