<h1>All Students</h1>

<% @students.each do |student| %>
	<%= link_to "#{student.number}", edit_student_path(student) %>
	<%= student.name %>
	<%= student.school %>
	<%= student.fee %>
	<%= student.subject %>
</br>
<% end %>
