<%= @student.number %>
<%= @student.name %>
<%= @student.school %>
<%= @student.email %>
<%= @student.telephone %>
<%= @student.total_fee %>
<% @student.subjects.each do |subject| %>
  <li><%= subject.name %></li>
<% end %>