<div class="span3" id="accordion-sidebar">
	<% if user_signed_in? %>
	<ul class='nav nav-tabs nav-stacked'>
	  <li><%= link_to "Student", "#", :class => 'accordion-toggle', 'data-toggle' => 'collapse', 'data-target' => '#studentSubMenu', 'data-parent' => '#accordion-sidebar' %></li>

	  <div id="studentSubMenu" class="collapse nav nav-tabs nav-stacked">
	    <li><%= link_to "All Students", students_path %></li>
	    <li><%= link_to "Add Student", new_student_path %></li>
      <li><%= link_to "Payment", payments_path %></li>
	  </div>

	  <li><%= link_to "Subject", '#', :class => 'accordion-toggle', 'data-toggle' => 'collapse', 'data-target' => '#subjectSubMenu', 'data-parent' => '#accordion-sidebar'%></li>
	  <div id="subjectSubMenu" class="collapse nav nav-tabs nav-stacked">
	  	<li><%= link_to "All Subjects", subjects_path %></li>
	    <li><%= link_to "Add Subject", new_subject_path %></li>
	  </div>

	  <li><%= link_to "Edit Account", edit_user_registration_path %></li>
	  <li><%= link_to "Logout", destroy_user_session_path, :method => 'delete' %></li>
	 
	</ul>
	<% end %>
</div>

<!-- <div class="accordion sidebar span3" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Student
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
     <div class="accordion-inner">
        <%= link_to "All Students", students_path %>
      </div>
      <div class="accordion-inner">
        <%= link_to "Add Student", new_student_path %>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Subject
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= link_to "All Subjects", subjects_path %>
      </div>
      <div class="accordion-inner">
        <%= link_to "Add Subject", new_subject_path %>
      </div>
    </div>
  </div>
</div> -->

